wordpress/*.log
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/plugins/hello.php

wordpress/.htaccess
wordpress/license.txt
wordpress/readme.html
wordpress/sitemap.xml
wordpress/sitemap.xml.gz

wordpress/wp-content/themes/vyo/assets/css/style.min.css
wordpress/wp-content/themes/vyo/assets/images/

package-lock.json
build/
node_modules/
